.welcome {
  margin: auto auto;
  max-height: 800px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.welcome__paragraph {
  padding: auto;
}

.button {
  margin: 0 auto;
  width: 200px;
  background-color: var(--base-color);
  padding: 1rem 2rem;
  border: 5px solid var(--fore-color);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.button__icon {
  width: 32px;
  height: 32px;
  margin: 0 0;
}

.button__text {
  margin: auto 0;
}
