@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --base-color: #003149;
  --sub-bcolor: #004669;
  --light-bcolor: #2f5c72;
  --fore-color: #fc9619;
  --hover-fore: #ffb861;
}

html {
  min-width: 225;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: var(--sub-bcolor);
  color: var(--fore-color);
}

header {
  background-color: var(--base-color);
  padding: 1rem 1rem;
  width: 100%;
}

p {
  color: var(--fore-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar__identifier {
  display: flex;
}

.navbar__logo {
  width: 3rem;
  height: 3rem;
  margin-right: 15px;
}

.navbar__name {
  margin: auto;
}

.navbar__list {
  display: flex;
  justify-content: end;
  list-style: none;
  margin: auto 0;
}

.navbar__links {
  margin: auto 25px;
  display: inline-flex;
  color: var(--fore-color);
  text-decoration: none;
  text-align: center;
}

.navbar__links:hover {
  color: var(--hover-fore);
}

.navbar__hamburger {
  display: none;
  margin: auto 15px;
  cursor: pointer;
  color: var(--fore-color);
  background-color: var(--base-color);
  border: none;
}

.container__menu {
  display: none;
  position: absolute;
  background: var(--sub-bcolor);
  width: 50%;
  height: 100vh;
  top: 0;
  right: 0;
  transition: all 300ms ease-in-out;
}

.cont__menu {
  width: 100%;
  max-width: 250px;
  height: 100vh;
  background: var(--base-color);
  position: relative;
  transition: all 300ms ease-in-out;
}

.cont__menu nav {
  transform: translateY(15%);
}

.cont__menu nav a {
  display: block;
  padding: 20px 0;
  border-left: 5px solid transparent;
  transition: all 200ms ease-in-out;
}

.cont__menu button {
  position: absolute;
  left: 0;
  top: 0;
}
